@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model List<EventViewModel>

<div class="container-fluid mt-5">

    <div class="row">
        @foreach (var item in Model)
        {
            if (item.IsConfliected)
            {
                <div class="col-sm-4 cols-display">
                    <div class="card conflect " style="width : 100%">
                        <div class="card-header text-center bg-white ">@item.Title</div>
                        <div class="card-body p-2 ">
                            <p class="card-text"><span class="font-weight-bolder">Start at : </span>@item.StartDate</p>
                            <p class="card-text"><span class="font-weight-bolder">End at : </span>@item.StartDate</p>
                            <p class="card-text text-danger">This Event is overlaped</p>
                        </div>
                    </div>

                </div>
            }
            else
            {
                <div class="col-sm-4 cols-display">
                    <div class="card no-conflect " style="width : 100%">
                        <div class="card-header text-center bg-white ">@item.Title</div>
                        <div class="card-body p-2 ">
                            <p class="card-text"><span class="font-weight-bolder">Start at : </span>@item.StartDate</p>
                            <p class="card-text"><span class="font-weight-bolder">End at : </span>@item.StartDate</p>
                            <p class="card-text text-success">No Events overlped with it </p>
                        </div>
                    </div>

                </div>
            }


        }

    </div>


</div>
@section styles {

    <link href="~/css/event.css" rel="stylesheet" />

}

